/* components/BasicNav.module.css */
.navbar {
    background-color: #1a1a1a;
    color: white;
    padding: 10px 20px;
  }
  
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navLogo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffcc00;
  }
  
  .navMenu {
    display: flex;
  }
  
  .navItem {
    margin-left: 20px;
    text-decoration: none;
    color: white;
  }
  
  .navAuth {
    display: flex;
  }
  
  .navItem:hover {
    color: #ffcc00;
  }
  